numpy
scipy
pandas
numba
matplotlib
scikit-learn
scikit-image
jupyter
jupyterlab
notebook
ipykernel
requests
openai
anthropic
together
python-dotenv
langchain
langchain-community
langsmith
litellm
ollama
groq
gnureadline
openpyxl
aws
boto3
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-groq
langchain-google-firestore
langchain-community
langchain-core
langsmith
tavily-python
wikipedia
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
PyPDF2
llama-parse
chromadb
chroma-migrate
llama-parse
llama-index-core
llama-index-llms-openai
langchain-text-splitters
langchain-experimental
pdf2image